
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  transition: background 0.5scubic-bezier(0.4, 0.4, 0, 1);
}
.flex {
  display: flex;
}
 /* フィロソフィー */
 #philo{
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0px;
  height: 3021px;
  justify-content: flex-start;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 132px 0px;
  width: 100%;
  --gap-h-07c2f170-bcfc-497d-84ea-c286fe561719: 0px;
  --gap-v-07c2f170-bcfc-497d-84ea-c286fe561719: 0px;
  --gap-uuid: 07c2f170 -bcfc-497d-84ea-c286fe561719;
  max-width: 100%;
  background: linear-gradient(var(--g-angle), var(--g-color-0) var(--g-position-0), var(--g-color-1) var(--g-position-1));
  --g-color-0: #d7f0ff;
  --g-position-0: 0%;
  --g-color-1: #ffdcdc;
  --g-position-1: 100%;
  --g-color-2: #ffdcdc;
  --g-position-2: 100%;
  --g-color-3: #ffdcdc;
  --g-position-3: 100%;
  --g-color-4: #ffdcdc;
  --g-position-4: 100%;
  --g-color-5: #ffdcdc;
  --g-position-5: 100%;
  --g-color-6: #ffdcdc;
  --g-position-6: 100%;
  --g-color-7: #ffdcdc;
  --g-position-7: 100%;
  --g-color-8: #ffdcdc;
  --g-position-8: 100%;
  --g-color-9: #ffdcdc;
  --g-position-9: 100%;
  --g-color-10: #ffdcdc;
  --g-position-10: 100%;
  --g-color-11: #ffdcdc;
  --g-position-11: 100%;
  --g-angle: 135deg;

 }
 h1 {
  color: #444444;
  font-size: 48px; 
  font-weight: 600;
  font-style: normal;
  margin: -40px 0px 100px 0;
  max-width: 100%;
  font-family: var(--s-font-178fa961);
  letter-spacing: 0.1em;
  line-height: 1.6;
 }
 
 .box{
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.74);
    border-radius: 48px;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 510px;
    justify-content: center;
    margin: 0px 42px 109px 42px;
    padding: 46px;
    width: 1074px;
    max-width: calc(100% - 84px);
 }
 .text {
  background: rgba(0, 0, 0, 0.0);
  color: #444444;
 }
 .box-p1 {
  font-size: 48px;
  font-style: normal;
  margin: 0 0 25px;
  font-weight: 700;
  font-family: 'A1ゴシック L JIS2004';
  letter-spacing: 0.12em;
  line-height: 1.72;
  text-align: left;
  width: 600px;
  max-width: 100%;
  justify-content: flex-start;
 }
 .box-p2{
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    height: 262px;
    letter-spacing: 0.05em;
    line-height: 1.9;
    margin: 0;
    text-align: justify;
    width: auto;
    max-width: 100%;
    justify-content: space-between;
    font-family: var(--s-font-eea294a0);
 }

 .philo-ap {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 560px;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
 }
 .philo-1 {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: auto;
  justify-content: center;
  margin: 73px 0px 96px 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0px 24px 0px;
  width: 1080px;
  max-width: 100%;
 }

.philo-1-p {
  flex: none;
  font-family: var(--s-font-178fa961);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin: 0px 0px 0px 0px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.philo-1-h2 {
  flex: none;
  font-family: var(--s-font-eea294a0);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin: 13px 0px 15px 0px;
  text-align: center;
  width: 935px;
  max-width: 100%;
  justify-content: center;
}

.philo-2 {
  align-items: center;
  background: rgba(0, 0, 0, 0.0);
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 910px;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0px 0px 0px 0px;
  width: 100%;
  max-width: 100%;
}
.philo-3 {
  align-items: center;
    background: rgba(0, 0, 0, 0.0);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 547px;
    justify-content: flex-start;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px 24px 0px;
    width: 1086px;
    max-width: 100%;
}
.philo-3-p {
  flex: none;
  font-family: var(--s-font-178fa961);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  letter-spacing: 0.1em;
  line-height: 1.6;
  margin: 0px 0px 40px 0px;
  text-align: center;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.value {
  align-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  transition-delay: 300ms;
  transition-duration: 1000ms;
}
.relationship {
  align-items: flex-start;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 30px 40px 30px rgba(0, 0, 0, 0.1);
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 165px;
    justify-content: center;
    margin: 0px 24px 48px;
    padding: 24px;
    transition-duration: 800ms;
    width: calc(50% - 48px);
    max-width: calc(50% - 48px);
}
.relation-p1 {
  font-family: var(--s-font-eea294a0);
  font-size: 36px;
  font-weight: 700;
  height: auto;
  letter-spacing: 0.05em;
  line-height: 1;
  margin: 0px 0px 0px 0px;
  text-align: left;
  transition-delay: 300ms;
  transition-duration: 1000ms;
  width: auto;
  z-index: 1;
  max-width: 100%;
  justify-content: flex-start;
}
.relation-p2 {
  flex: none;
    font-family: var(--s-font-178fa961);
    font-size: 16px;
    font-weight: 700;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.4;
    margin: 0px 0px 12px 0px;
    text-align: left;
    transition-delay: 300ms;
    transition-duration: 1000ms;
    width: 100%;
    z-index: 1;
    max-width: 100%;
    justify-content: flex-start;
}
.relation-p3 {
   flex: none;
    font-family: var(--s-font-eea294a0);
    font-size: 14px;
    font-weight: 700;
    height: auto;
    letter-spacing: 0.05em;
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
    text-align: left;
    transition-delay: 300ms;
    transition-duration: 1000ms;
    width: 100%;
    z-index: 1;
    max-width: 100%;
    justify-content: flex-start;
}


.box2 {
  width: calc(50% - 48px);
  max-width: calc(50% - 48px);
  height: 164px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 30px 40px 30px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  padding: 24px;
  text-align: left;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 24px 48px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .box2 {
    width: 100%; /* 幅を100%にして縦並びに変更 */
    max-width: 100%;
    height: auto; /* 高さを自動調整 */
  }
}
@font-face {
  font-family: 'A1ゴシック L JIS2004';
  src: url('/path/to/your/font-file.woff2') format('woff2'),
       url('/path/to/your/font-file.woff') format('woff'),
       url('/path/to/your/font-file.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'A1ゴシック B JIS2004';
  src:  url('/fonts/A1GothicB-JIS2004.woff2') format('woff2'),
        url('/fonts/A1GothicB-JIS2004.woff') format('woff');
}

@font-face {
  font-family: 'A1ゴシック M JIS2004';
  src:  url('/fonts/A1GothicM-JIS2004.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --s-font-9281289a: Lato;
  --s-font-708c9e02: 'Noto Serif JP';
  --s-font-faa93a07: 'Noto Sans JP';
  --s-font-db8a55ff: Roboto;
  --s-font-61ba42c7: 'Libre Baskerville';
  --s-font-739796c4: 'M PLUS Rounded 1c';
  --s-font-7bb0507f: 'Sawarabi Mincho';
  --s-font-3097740f: 'ヒラギノ角ゴ W6 JIS2004';
  --s-font-e985d48f: 'ヒラギノ角ゴ W3 JIS2004';
  --s-font-b99460bf: 'リュウミン L-KL JIS2004';
  --s-font-70b174d2: 'EB Garamond';
  --s-font-53aeeba2: 'A1ゴシック L JIS2004';
  --s-font-c095623b: Raleway;
  --s-font-c4a6111f: 'PT Serif';
  --s-font-1b91e338: '秀英にじみ角ゴシック銀 B';
  --s-font-558af653: 'M PLUS 1p';
  --s-font-f891e843: '新ゴ B JIS2004';
  --s-font-5b847a95: 'M PLUS Rounded 1c';
  --s-font-c5b45fc5: 'Zen Maru Gothic';
  --s-font-fe992041: 'Gothic A1';
  --s-font-178fa961: 'A1ゴシック B JIS2004';
  --s-font-eea294a0: 'A1ゴシック M JIS2004';
  --s-font-c38e1167: Montserrat;
}

