@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'A1ゴシック B JIS2004';
  src:  url('/fonts/A1GothicB-JIS2004.woff2') format('woff2'),
        url('/fonts/A1GothicB-JIS2004.woff') format('woff');
}

@font-face {
  font-family: 'A1ゴシック M JIS2004';
  src:  url('/fonts/A1GothicM-JIS2004.woff2') format('woff2'),
        url('/fonts/A1GothicM-JIS2004.woff') format('woff');
}
