html,body{
  height: 140%;
  margin: 0;
  display: flex;
  justify-content: center; /* 水平方向に中央揃え */
  align-items: center; /* 垂直方向に中央揃え */
  font-family: Arial, sans-serif; /* フォント設定 (オプション) */
 }

 .box{
  width: 650px;
  border: solid 3px #000;
  border-radius: 20px;
 }